APP_ENV=development
# Valores posibles: development | production

# CORS: separar múltiples origins con coma
# Desarrollo:   http://localhost:5173
# Producción:   http://190.116.10.36,http://localhost,http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=soc_management_db
DB_USER=
DB_PASSWORD=

# JWT
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Admin por defecto
DEFAULT_SUPERADMIN_USERNAME=
DEFAULT_SUPERADMIN_PASSWORD=
DEFAULT_SUPERADMIN_NAME=
DEFAULT_SUPERADMIN_LASTNAME=

# Usuarios por defecto
DEFAULT_USER_PASSWORD=
